* {
  box-sizing: border-box;
}

html, body {
  background-color: #e7e7e7;
  color: #111111;
  font-family: "Open Sans", sans-serif;
  margin: auto;
}

.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}
.layout-container h1, .layout-container h2, .layout-container h3, .layout-container h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.layout-container a {
  color: #682567;
  text-decoration: none;
  font-style: italic;
}
.layout-container .nav-container {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #682567;
  color: #e7e7e7;
  border-radius: 0 15px 15px 0;
}
.layout-container .nav-container a {
  color: #e7e7e7;
  font-style: italic;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}
.layout-container .nav-container .nav-links-container {
  display: block;
  width: 100%;
  text-align: right;
}
.layout-container .nav-container .nav-links-container .nav-links {
  display: block;
  padding: 0;
  list-style: none;
}
.layout-container .nav-container .nav-links-container .nav-links .nav-link {
  margin-top: 10px;
  display: block;
  border-bottom: solid 1px #e7e7e7aa;
}
.layout-container .nav-container .nav-links-container .nav-links .nav-link a {
  display: block;
  padding: 7px;
}
.layout-container .nav-container .nav-links-container .nav-links .nav-link.sub-link {
  margin-left: 25px;
}
.layout-container .nav-container .top-info {
  text-align: center;
}
.layout-container .nav-container .top-info .music-container {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  /* Fix Safari not hiding overflow during animation */
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  mask-image: radial-gradient(white, black);
}
.layout-container .nav-container .top-info .music-container .frame-container {
  height: 0;
  width: 0;
  position: absolute;
  border: none;
}
.layout-container .nav-container .top-info .music-container .frame-container::before {
  font-family: "Material Icons";
  content: "\e037";
}
.layout-container .nav-container .top-info .music-container .top-icon {
  max-height: 150px;
  will-change: transform;
}
.layout-container .nav-container .top-info .music-container .overlay {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.layout-container .nav-container .top-info .music-container .overlay .lds-ring {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 25px;
  left: 25px;
  display: none;
}
.layout-container .nav-container .top-info .music-container .overlay::after {
  position: absolute;
  width: 100px;
  line-height: 100px;
  top: 25px;
  left: 25px;
  font-family: "Material Icons";
  content: "\e037";
  font-size: 100px;
}
.layout-container .nav-container .top-info .music-container.ready, .layout-container .nav-container .top-info .music-container.playing, .layout-container .nav-container .top-info .music-container.stopped {
  cursor: pointer;
}
.layout-container .nav-container .top-info .music-container.ready:hover .overlay, .layout-container .nav-container .top-info .music-container.playing:hover .overlay, .layout-container .nav-container .top-info .music-container.stopped:hover .overlay {
  display: block;
}
.layout-container .nav-container .top-info .music-container.loading {
  cursor: default;
}
.layout-container .nav-container .top-info .music-container.loading .overlay {
  display: block;
}
.layout-container .nav-container .top-info .music-container.loading .overlay .lds-ring {
  display: inline-block;
}
.layout-container .nav-container .top-info .music-container.loading .overlay::after {
  content: "";
}
.layout-container .nav-container .top-info .music-container.playing .top-icon {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.layout-container .nav-container .top-info .music-container.playing:hover .overlay::after {
  content: "\e047";
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.layout-container .nav-container .top-info .title h2 {
  font-weight: 200;
  margin-bottom: 0;
}
.layout-container .nav-container .top-info .title h3, .layout-container .nav-container .top-info .title h4 {
  margin: 0;
}
.layout-container .nav-container .top-info .contact {
  margin-top: 10px;
  padding: 0 10px;
  display: inline-block;
}
.layout-container .nav-container .top-info .contact p {
  margin: 5px 0;
  text-align: center;
  font-style: italic;
}
.layout-container .content-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  padding-top: 60px;
}
.layout-container .content-container .markdown-container {
  opacity: 1;
  max-width: 800px;
  transition: opacity 0.2s 0.3s;
}
.layout-container .content-container .markdown-container h1, .layout-container .content-container .markdown-container h2 {
  border-bottom: solid 1px #000000aa;
}
.layout-container .content-container .loader-container {
  flex: 1;
  display: flex;
  position: absolute;
  top: 0;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
  opacity: 0;
  transition: opacity 0.2s;
}
.layout-container .content-container .loader-container .lds-ring {
  width: 90px;
  height: 90px;
}
.layout-container .content-container.loading .markdown-container {
  opacity: 0;
  transition: opacity 0.2s;
}
.layout-container .content-container.loading .loader-container {
  opacity: 1;
  transition: opacity 0.2s 0.3s;
}
.layout-container .oop {
  display: flex;
}
.layout-container .oop div {
  height: 2px;
  flex: 1;
  background-color: #fff;
}
.layout-container .oop div:first-child,
.layout-container .oop div:last-child {
  background-color: #74d7ee;
}
.layout-container .oop div:nth-child(2),
.layout-container .oop div:nth-last-child(2) {
  background-color: #ffafc8;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  margin: 10px;
  border: 10px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring.dark div {
  border: 10px solid #555;
  border-color: #555 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.dot-loader {
  width: 140px;
  /* control the size */
  aspect-ratio: 8/5;
  --_g: no-repeat radial-gradient(#888 68%,#8880 71%);
  -webkit-mask: var(--_g), var(--_g), var(--_g);
  -webkit-mask-size: 20% 30%;
  background: #888;
  animation: load 1.5s infinite;
}

@keyframes load {
  0% {
    -webkit-mask-position: 0% 100%, 50% 100%, 100% 100%;
  }
  22.5% {
    -webkit-mask-position: 0% 50%, 50% 100%, 100% 100%;
  }
  45% {
    -webkit-mask-position: 0% 100%, 50% 50%, 100% 100%;
  }
  67.5% {
    -webkit-mask-position: 0% 100%, 50% 100%, 100% 50%;
  }
  90% {
    -webkit-mask-position: 0% 100%, 50% 100%, 100% 100%;
  }
  100% {
    -webkit-mask-position: 0% 100%, 50% 100%, 100% 100%;
  }
}