* {
 box-sizing: border-box;
}

html, body {
    background-color: #e7e7e7;
    color: #111111;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
}

.layout-container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;

    h1, h2, h3, h4 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    } 

    a {
        color: #682567;
        text-decoration: none;
        font-style: italic;
    }

    .nav-container {
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background-color: #682567;
        color: #e7e7e7;
        border-radius: 0 15px 15px 0;
        position: fixed;
        height: 100%;

        a {
            color: #e7e7e7;
            font-style: italic;
            font-weight: 200;
            font-family: 'Montserrat', sans-serif;
        }

        .nav-links-container {
            display: block;
            width: 100%;
            text-align: right;

            .nav-links {
                display: block;
                padding: 0;
                list-style: none;

                .nav-link {
                    margin-top: 10px;
                    display: block;
                    border-bottom: solid 1px #e7e7e7aa;

                    a {
                        display: block;
                        padding: 7px;
                    }

                    &.sub-link {
                        margin-left: 25px;
                    }
                }
            }
        }

        .top-info {
            text-align: center;
            
            .music-container {
                display: inline-block;
                border-radius: 50%;
                overflow: hidden;
                position: relative;

                /* Fix Safari not hiding overflow during animation */
                -webkit-mask-image: -webkit-radial-gradient(white, black);
                mask-image: radial-gradient(white, black);

                .frame-container {
                    height: 0;
                    width: 0;
                    position: absolute;
                    border: none;

                    &::before {
                        font-family: 'Material Icons';
                        content: "\e037";
                    }
                }

                .top-icon {
                    max-height: 150px;
                    will-change: transform;
                }

                .overlay {
                    display: none;
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.2);
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    .lds-ring {
                        position: absolute;
                        width: 100px;
                        height: 100px;
                        top: 25px;
                        left: 25px;
                        display: none;
                    }

                    &::after {
                        position: absolute;
                        width: 100px;
                        line-height: 100px;
                        top: 25px;
                        left: 25px;
                        font-family: 'Material Icons';
                        content: "\e037";
                        font-size: 100px;
                    }
                }

                &.ready,
                &.playing,
                &.stopped {
                    cursor: pointer;

                    &:hover .overlay{
                        display: block;
                    }
                }

                &.loading {
                    cursor: default;
                    
                    .overlay {
                        display: block;
                        
                        .lds-ring {
                            display: inline-block;
                        }

                        &::after {
                            content: "";
                        }
                    }
                }

                &.playing {
                    .top-icon {
                        animation-name: spin;
                        animation-duration: 5000ms;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;
                    }

                    &:hover .overlay::after {
                        content: "\e047";
                    }
                }

                @keyframes spin {
                    from {
                        transform:rotate(0deg);
                    }
                    to {
                        transform:rotate(360deg);
                    }
                }
            }

            .title {
                h2 {
                    font-weight: 200;
                    margin-bottom: 0;
                }

                h3, h4 {
                    margin: 0;
                }
            }

            .contact {
                margin-top: 10px;
                padding: 0 10px;
                display: inline-block;
                
                p {
                    margin: 5px 0;
                    text-align: center;
                    font-style: italic;
                }
            }
        }
    }

    .content-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin-left: 250px;

        .search-container {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: flex-end;
            padding: 0;

            input[type=search] {
                width: 300px;
                border-radius: 15px;
                border: 1px solid #bbb;
                display: block;
                padding: 9px 4px 9px 45px;
                background: #e7e7e7 url("/img/search.svg") no-repeat 13px;
                z-index: 1;
            }

            .search-results {
                z-index: 1;
                display: none;
                position: absolute;
                top: 75px;
                background-color: #e7e7e7;
                border: solid 1px #bbb;
                width: 500px;
                padding: 10px;
                border-radius: 15px;

                div {
                    overflow: hidden;

                    &:not(:last-child) {
                        border-bottom: solid 1px #bbb;
                    }

                    &:first-child {
                        border-radius: 5px 5px 0 0;
                    }

                    &:last-child {
                        border-radius: 0 0 5px 5px;
                    }

                    a {
                        display: block;
                        padding: 10px;
                        color: #111;

                        &:hover {
                            background-color: #ddd;
                        }
                    }

                    h2 {
                        color: #682567;
                        margin: 0;
                        font-size: 16px;
                    }
    
                    p {
                        margin: 0;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        overflow: hidden;
                        font-style: normal;
                    }
                }
            }
            
            .search-overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #000;
                opacity: 0.5;
                display: none;
                z-index: 0;
            }
        }
        
        .markdown-container {
            flex: 1;
            opacity: 1;
            max-width: 800px;
            padding-top: 20px;
            transition: opacity 0.2s 0.3s;

            h1, h2 {
                border-bottom: solid 1px #bbb;
            }

            h2 {
                margin-right: 80px;
            }
        }

        .loader-container {
            flex: 1;
            display: flex;
            position: absolute;
            top: 0;
            height: 100%;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-bottom: 10%;
            opacity: 0;
            transition: opacity 0.2s;
            pointer-events: none;

            .lds-ring {
                width: 90px;
                height: 90px;
            }
        }

        &.loading {
            .markdown-container {
                opacity: 0;
                transition: opacity 0.2s;
            }

            .loader-container {
                opacity: 1;
                transition: opacity 0.2s 0.3s;
            }
        }
    }

    .oop {
        display: flex;

        div {
            height: 2px;
            flex: 1;
            background-color: #fff;
        }

        div:first-child,
        div:last-child {
            background-color: #74d7ee;
        }

        div:nth-child(2),
        div:nth-last-child(2) {
            background-color: #ffafc8;
        }
    }
}

.show-search-results {
    .search-overlay {
        display: block!important;
    }

    .search-results {
        display: block!important;
    }
}


.lds-ring {
    div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 80px;
        height: 80px;
        margin: 10px;
        border: 10px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;
    }

    &.dark div {
        border: 10px solid #555;
        border-color: #555 transparent transparent transparent;
    }

    div:nth-child(1) {
        animation-delay: -0.45s;
    }
    div:nth-child(2) {
        animation-delay: -0.3s;
    }
    div:nth-child(3) {
        animation-delay: -0.15s;
    }
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.dot-loader {
    width: 140px; /* control the size */
    aspect-ratio: 8/5;
    --_g: no-repeat radial-gradient(#888 68%,#8880 71%);
    -webkit-mask: var(--_g),var(--_g),var(--_g);
    -webkit-mask-size: 20% 30%;
    background: #888;
    animation: load 1.5s infinite;
  }
  
  @keyframes load {
    0%    {-webkit-mask-position: 0% 100%,50% 100%,100% 100%}
    22.5% {-webkit-mask-position: 0% 50% ,50% 100%,100% 100%}
    45%   {-webkit-mask-position: 0% 100%,50% 50% ,100% 100%}
    67.5% {-webkit-mask-position: 0% 100%,50% 100%,100% 50%}
    90%   {-webkit-mask-position: 0% 100%,50% 100%,100% 100%}
    100%  {-webkit-mask-position: 0% 100%,50% 100%,100% 100%}
  }