* {
 box-sizing: border-box;
}

html, body {
    background-color: #e7e7e7;
    color: #111;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
}

@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #252525;
        color: #e7e7e7;

        .layout-container {
            a {
                color: #e378e2;
            }

            .content-container {
                .search-container {
                    input[type=search] {
                        background-color: #333;
                        color: #e7e7e7;
                    }
                }
    
                .dot-loader {
                    background: #e2e2e2;
                }
            }
        }
    }
}

.scroll-top-container {
    position: fixed;
    right: 20px;
    bottom: 20px;

    .scroll-top {
        opacity: 0;
        display: block;
        height: 50px;
        transition: opacity 0.2s;
        pointer-events: none;

        &.show {
            opacity: 1;
            cursor: pointer;
            pointer-events: all;
        }

        object {
            pointer-events: none;
            height: 50px;
            width: 50px;
        }
    }
}

.layout-container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;

    h1, h2, h3, h4 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    } 

    a {
        color: #682567;
        text-decoration: none;
        font-style: italic;
    }

    .print-header {
        display: none;
    }

    .nav-container {
        width: 225px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background-color: #682567;
        color: #fff;
        border-radius: 0 15px 15px 0;
        position: fixed;
        height: 100%;

        a {
            color: #fff;
            font-style: italic;
            font-weight: 200;
            font-family: 'Montserrat', sans-serif;
        }

        .nav-links-container {
            display: block;
            width: 100%;
            text-align: right;

            .nav-links {
                display: block;
                padding: 0;
                list-style: none;

                .nav-link {
                    margin-top: 10px;
                    display: block;
                    border-bottom: solid 1px #e7e7e7aa;

                    a {
                        display: block;
                        padding: 7px;
                    }

                    &.sub-link {
                        margin-left: 25px;
                    }
                }
            }
        }

        .top-info {
            text-align: center;
            
            .music-container {
                display: inline-block;
                border-radius: 50%;
                overflow: hidden;
                position: relative;

                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;

                /* Fix Safari not hiding overflow during animation */
                -webkit-mask-image: -webkit-radial-gradient(white, black);
                mask-image: radial-gradient(white, black);

                .frame-container {
                    height: 0;
                    width: 0;
                    position: absolute;
                    border: none;
                }

                .top-icon {
                    max-height: 125px;
                    will-change: transform;
                }

                .overlay {
                    display: none;
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.2);
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }

            .title {
                h2 {
                    font-weight: 200;
                    margin-bottom: 0;
                }

                h3, h4 {
                    margin: 0;
                }
            }

            .contact {
                margin-top: 10px;
                padding: 0 10px;
                display: inline-block;
                
                p {
                    margin: 5px 0;
                    text-align: center;
                    font-style: italic;
                }

                a.icon-link {
                    height: 30px;
                    display: inline-block;
                    margin: 5px;

                    object {
                        pointer-events: none;
                        height: 30px;
                        width: 30px;
                    }
                }
            }
        }
    }

    .content-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin-left: 225px;

        .search-container {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: flex-end;
            padding: 0;

            input[type=search] {
                width: 100%;
                max-width: 300px;
                border-radius: 15px;
                border: 1px solid #bbb;
                display: block;
                padding: 9px 4px 9px 45px;
                background: #e7e7e7 url("/img/search.svg") no-repeat 13px;
                background-size: 28px;
                z-index: 1;
            }
            
            .search-overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #000;
                opacity: 0.5;
                display: none;
                z-index: 0;
            }
        }

        .print-container{
            flex: 1;

            @media not print {
                > table {
                    display: none;
                }
            }
        
            .markdown-container {
                opacity: 1;
                max-width: 800px;
                padding-top: 20px;
                transition: opacity 0.2s 0.3s;

                > :first-child {
                    margin-top: 0;
                }

                h1, h2 {
                    border-bottom: solid 1px #bbb;
                }

                h2 {
                    margin-right: 80px;
                }

                p {
                    text-align: justify;
                }

                p.img-container {
                    min-height: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 20px 0;
                    margin: -20px 0;
                }

                img {
                    display: block;
                    max-width: 80%;
                    max-height: 400px;
                    border-radius: 15px;
                    box-shadow: 1px 5px 5px -3px rgba(0,0,0,0.75);
                    -webkit-box-shadow: 1px 5px 5px -3px rgba(0,0,0,0.75);
                    -moz-box-shadow: 1px 5px 5px -3px rgba(0,0,0,0.75);
                }

                table {
                    border-collapse: collapse;

                    th:not(:last-child), td:not(:last-child) {
                        border-right: solid 1px #bbb;
                    }

                    td, th {
                        padding: 4px 6px;
                    }

                    tr:nth-child(odd) td {
                        background-color: #ffffff66;
                    }
                }
            }
        }

        .copyright-container {
            margin-top: 20px;
        }

        .loader-container {
            flex: 1;
            display: flex;
            position: absolute;
            top: 0;
            height: 100%;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-bottom: 10%;
            opacity: 0;
            transition: opacity 0.2s;
            pointer-events: none;

            .dot-loader {
                width: 140px; /* control the size */
                aspect-ratio: 8/5;
                --_g: no-repeat radial-gradient(#888 68%,#8880 71%);
                -webkit-mask: var(--_g),var(--_g),var(--_g);
                mask: var(--_g),var(--_g),var(--_g);
                -webkit-mask-size: 20% 30%;
                mask-size: 20% 30%;
                background: #888;
                animation: load 1.5s infinite;
            }

            @keyframes load {
                0%    {-webkit-mask-position: 0% 100%,50% 100%,100% 100%}
                22.5% {-webkit-mask-position: 0% 50% ,50% 100%,100% 100%}
                45%   {-webkit-mask-position: 0% 100%,50% 50% ,100% 100%}
                67.5% {-webkit-mask-position: 0% 100%,50% 100%,100% 50%}
                90%   {-webkit-mask-position: 0% 100%,50% 100%,100% 100%}
                100%  {-webkit-mask-position: 0% 100%,50% 100%,100% 100%}
            }
        }

        &.loading {
            .markdown-container {
                opacity: 0;
                transition: opacity 0.2s;
            }

            .loader-container {
                opacity: 1;
                transition: opacity 0.2s 0.3s;
            }

            .copyright-container {
                display: none;
            }
        }
    }
    
    @media(min-width:921px) {
        .mobile-show {
            display: none!important;
        }
    }

    @media not print {
        @media(max-width:920px) {
            flex-direction: column;

            .nav-container {
                position: initial;
                width: auto;
                padding: 10px;
                position: relative;
                border-radius: 0 0 15px 15px;
                
                .top-info {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 100%;

                    .music-container {
                        .top-icon {
                            max-height: 50px;
                            will-change: transform;
                        }
                    }

                    & > * {
                        z-index: 4;
                    }

                    h2, .contact {
                        margin: 0;
                    }
                    
                    .title {
                        margin-left: 15px;
                        margin-right: auto;
                    }

                    &::after {
                        content: ' ';
                        position: absolute;
                        background-color: #682567;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 3;
                        border-radius: 0 0 15px 15px;
                        box-shadow: 1px 5px 5px -3px rgba(0,0,0,0.75);
                        -webkit-box-shadow: 1px 5px 5px -3px rgba(0,0,0,0.75);
                        -moz-box-shadow: 1px 5px 5px -3px rgba(0,0,0,0.75);
                    }
                }

                .nav-links-container {
                    position: absolute;
                    background-color: #682567;
                    border-radius: 0 0 15px 15px;
                    z-index: 2;
                    padding: 15px;
                    padding-bottom: 0;
                    bottom: 100%;
                    transition: transform 0.2s, bottom 0.2s;

                    &.open {
                        bottom: 20px;
                        transform: translateY(100%);
                    }
                }

                .menu-control {
                    display: block;
                    height: 40px;
                    margin-left: 10px;
                    cursor: pointer;
                    
                    object {
                        pointer-events: none;
                        height: 40px;
                        width: 40px;
                    }
                }
            }

            .content-container {
                margin-left: 0;

                .search-results {
                    top: 145px!important;
                }

                .markdown-container {
                    h2 {
                        margin-right: 0!important;
                    }
                }
            }

            .mobile-hide {
                display: none!important;
            }
        }
    
        @media(max-width:600px) {
            .markdown-container table {
                width: 100%;
    
                th, td {
                    display: block;
                    width: 100%;
                    border-right: none!important;
    
                    &:not(:last-child){
                        border-bottom: solid 1px #bbb;
                    }
                }
            }
        }

        @media(max-width:500px) {
            .mobile-small-hide {
                display: none!important;
            }

            .menu-control {
                margin-left: auto!important;
            }
        }
    }

}