.show-search-results .nav-container {
  z-index: 0;
}
.show-search-results .search-overlay {
  display: block !important;
}
.show-search-results .search-results {
  display: block !important;
}

.search-results {
  z-index: 1;
  display: none;
  position: absolute;
  top: 75px;
  background-color: #e7e7e7;
  border: solid 1px #bbb;
  width: 500px;
  padding: 10px;
  border-radius: 15px;
  max-width: calc(100% - 40px);
}
.search-results h2.no-results {
  font-size: 18px;
  padding: 10px;
  margin: 0;
}
.search-results div {
  overflow: hidden;
}
.search-results div:not(:last-child) {
  border-bottom: solid 1px #bbb;
}
.search-results div:first-child {
  border-radius: 5px 5px 0 0;
}
.search-results div:last-child {
  border-radius: 0 0 5px 5px;
}
.search-results div a {
  display: block;
  padding: 10px;
  color: #111;
}
.search-results div a:hover {
  background-color: #ddd;
}
.search-results div h2 {
  color: #682567;
  margin: 0;
  font-size: 16px;
}
.search-results div p {
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-style: normal;
}